{% load static %}

<!DOCTYPE html>

<html>
	<head>
		<title></title>

		<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	  <link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

		<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	</head>
	<body>
		<!-- Your layout here -->
    <div class="container-fluid">
      <div class="d-flex flex-row bg-red" style="height:30vh">
        <div class="col-xs-12">
        </div>
      </div>
      
        <div class="d-flex flex-row bg-yellow"style="height:30vh">
        <div class="col-xs-12">
        </div>
      </div>
      
      <div class="d-flex flex-row bg-green"style="height:30vh">
        <div class="col-xs-12">
        </div>
      </div>
  </div>

	</body>
</html>